@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-primary {
     @apply   bg-black; color: white; padding: 10px 20px; border: none; cursor: pointer; margin-top: 10px; border-radius: 0.375rem; height: fit-content;  
    }
}